.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 78vh;
}

.filter-form {
    margin-bottom: 1vw;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forms {
    width: 25vw;
    overflow-y: scroll;
}

.show-form {
    position: relative;
    width: 70vw;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: row;
    /* width: 90vw; */
    justify-content: space-between;
    position:relative;
    margin: auto;
    margin-bottom: 3vh;
    border-bottom: 1px solid black;
}

.admin-form {
    height: 70vh;
    overflow-y: scroll;
}
.button-group {
    height: 8vh;
    text-align: center;
}

.approve {
    background-color: #002FA7 !important;
    color: white;
    margin-right: 2vw;
}

.deny {
    background-color: #9ca4b8 !important;
    color: white;
}
@media only screen and (max-width: 812px) {
    .date {
        font-size: 2vw;
    }

    .button-group {
        bottom: 0;
        left: 20%;
    }
}