.content {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.filter-form {
    margin-bottom: 1vw;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 78vh;
    overflow-y: scroll;
}

.show-form {
    position: relative;
    width: 72vw;
    margin-left: 3vw;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    border-bottom: 1px solid black;
    min-width: 20vw;
    padding-top: 1vh;
    padding-left: 1vw;
}

.form-type {
    font-size: 1.5vw;
}

.submit-info {
    font-size: 1vw;
}
.admin-form {
    height: 70vh;
    overflow-y: scroll;
}
.button-group {
    height: 8vh;
    text-align: center;
}

.approve {
    background-color: var(--united-blue) !important;
    color: white;
    margin-right: 2vw;
}

.deny {
    background-color: #9ca4b8 !important;
    color: white;
}

.no-form {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 78vh; 
}

.no-form p {
    font-weight: bold;
    color: rgb(90, 88, 88);
}

.selected-req {
    background-color:rgb(226, 229, 239);
}

.confirmDialog {
    /* flex: 0 0 30vw; */
    width: 30vw;
    background-color: white;
    border: var(--united-blue) solid 1px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2vw;
}

@media only screen and (max-width: 812px) {
    .dashboard {
        height: 85vh;
    }
    .forms {
        width: 30vw;
        height: 85vh;
    }
    .admin-form {
        height: 75vh;
    }
    .form-content {
        min-width: 30vw;
    }
    .show-form {
        width: 65vw;
    }
    .date {
        font-size: 2vw;
    }
    .button-group {
        position: absolute;
        bottom: 0;
    }

    .form-type {
        font-size: 3.5vw;
    }

    .submit-info {
        font-size: 3vw;
    }
    .confirmDialog {
        width: 35vw;
        height: 25vh;
        padding: 2vw;
    }

    .dialogButtons {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between !important;
        height: 11vh;
    }
}