.card {
  width: 30vw;
  height: 30vh;
  /* border: 1px solid var(--accent-dark); */
  border-radius: 12px;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--background-2);
  margin-bottom: 2vw;
}

.card:hover {
  outline: 1px solid var(--background-1);
}

.name {

}

.desc {
  
}

@media only screen and (max-width: 812px) {
  .card {
    width: 85vw;
  }
}