.card {
  width: 25vw;
  height: 20vh;
  /* border: 1px solid var(--accent-dark); */
  border-radius: 12px;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--background-2);
}

.card:hover {
  outline: 1px solid var(--background-1);
}

.name {

}

.desc {
  
}