#navbar {
  display: flex;
  /* flex-direction: row; */
  /* gap: 10px; */
  justify-content: space-between;
  align-items: center;
  /* width: 96vw;
  margin: 0 2vw; */
}

#navbar li {
  list-style: none;
}

.logo {
  flex-grow: 1;
}

.backToHome {
  display: block;
  width: 12vw;
}

.logo img {
  width: 12vw;
  height: auto;
}

.logoutButton {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 812px) {
  .logo img {
    width: 35vw;
  }
  .backToHome {
    width: 35vw;
  }
}